In [4]:
import numpy as np
import pandas as pd

In [3]:
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [5]:
a2 = np.array([
  [1, 2.0, 3.3],
  [4, 5, 6.5],
])

a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [8]:
df = pd.DataFrame(a2, columns=['a', 'b', 'c'])
df

     a    b    c
0  1.0  2.0  3.3
1  4.0  5.0  6.5